# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.9.3

    working_directory: /go/src/github.com/dennisstritzke/ipsec_exporter
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: go test -v ./...